.App {
  text-align: center;
  background-color: #f3c9b8;
  font-family: 'Noto Sans KR', sans-serif;
}

.font {
  font-family: 'Quicksand', sans-serif;
}

#slogan {
  background-color: #025984;
  height: 1200px;
}

.slogan-image {
  width: 50%;
  margin-top: 20%;
}

#nav {
  text-align: right;
  margin: 3%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #009b8a;
  font-size: 21px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover::after {
  transform: scaleX(1);
}

#main {
  height: 100vh;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 30%;
}

#menu {
  height: 100vh;
  position: relative;
}

.menu-box {
  width: 50%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.178);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.menu-text {
  position: absolute;
  z-index: 1;
  width: 80%;
  font-family: 'Quicksand', sans-serif;
  font-size: 3vh;
  margin-top: -4vh;
}
.menu-image {
  top: 0;
  left: 0;
  height: 70vh;
  width: 100%;
  opacity: 0.3;
  z-index: 1;
  object-fit: cover;
}

.download {
  margin-top: 4vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 5vh;
  color: #ffffff;
}

.underline-text {
  text-decoration: underline;
}

.underline-text:hover {
  color: #025984;
}

#story {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.story-box {
  width: 80%;
}

.story1 {
  font-size: 10vh;
  color: #025984;
  font-family: 'Quicksand', sans-serif;
}

.story2 {
}

#information {
  height: 100vh;
}

.scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  font-size: 16px;
  z-index: 1000;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.scrollToTopButton.show {
  display: block;
}

.tree-image {
  height: 50px;
  margin-bottom: -25px;
}
.top {
  color: #025984;
  /* background-color: #ffffff; */
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
