body {
  margin: 0;
  font-family: "Noto Sans KR", "Quicksand", ans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3c9b8;
}

code {
  font-family: "Noto Sans KR", sans-serif;

}
